/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: serif;
	color: #e5e6e5;
	background-color: #6c8a75;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #14521c;
}

.resume-main {
	background-color: #4f8b52;
}

.resume-aside {
	background-color: #175c20;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "♥";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #0a0a0b;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.contact-item {
	background-color: #d2d898;
}

.link-color{
	color:  black;
}
.d-flex-align-items-center
{
	color: rgb(15, 82, 15)
}

.bio-text{
	color: #d2d898;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.biography-details{
	color: #d2d898;
}

.skill-list{
	color: #d2d898;
}